In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome(r"D://chromedriver.exe")

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [3]:
# Fetching the website
driver.get("https://www.naukri.com/")

In [4]:
# Closing pop-ups
try:
    driver.find_element_by_xpath("//span[@id='block']").click()
except:
    print("--")

In [5]:
# Entering "Data Analyst" in  “Skill,Designations,Companies” field
job_inp = driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
job_inp.send_keys("Data Analyst")

In [6]:
# Entering “Bangalore” in “enter the location” field
loc_inp = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
loc_inp.send_keys("Bangalore")

In [7]:
# Clicking Search Button
button =  driver.find_element_by_xpath("//div[@class='search-btn']/button[@class='btn']")
button.click()

In [8]:
# Fetching Job-title, Job-location, Companny Name, Experience details from the website.
job_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
experience = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
location = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [9]:
# Initialising a dictionary to store the data
d = {
    'Job_Title' : [],
    'Location' : [],
    'Experience' : [],
    'Company_Name' : []
}

In [10]:
# Adding the text to corresponding keys in the dictionary
for i in range(10):
    d['Job_Title'].append(job_title[i].text)
    d['Location'].append(location[i].text)
    d['Experience'].append(experience[i].text)
    d['Company_Name'].append(company[i].text)

In [11]:
# Converting to DataFrame
df = pd.DataFrame(d)
df

,Job_Title,Location,Experience,Company_Name
0,Data Engineer/Data Analyst- Chennai,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",0-2 Yrs,Inflexion Analytix Private Limited
1,Azure Data Analyst,Bangalore/Bengaluru,6-8 Yrs,Capgemini Technology Services India Limited
2,Data Analyst,Bangalore/Bengaluru,0-0 Yrs,"RedLock, Inc"
3,Data Analyst,Bangalore/Bengaluru(Devalapur),0-2 Yrs,Super India Tech Mark
4,Data Analyst,Bangalore/Bengaluru,4-8 Yrs,tech mahindra ltd
5,Data Analyst,Bangalore/Bengaluru,1-2 Yrs,CONDUENT BUSINESS SERVICES INDIA LLP
6,Data Analyst,Bangalore/Bengaluru,2-7 Yrs,GlaxoSmithKline Pharmaceuticals Limited
7,"Data Analyst - Alteryx, Tableau and SQL",Bangalore/Bengaluru,2-5 Yrs,Schneider Electric
8,Data Analyst,Bangalore/Bengaluru,3-6 Yrs,Myntra Designs Pvt. Ltd.
9,Data Analyst,Bangalore/Bengaluru,4-8 Yrs,Myntra Designs Pvt. Ltd.

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [12]:
# Fetching the website
driver.get("https://www.naukri.com/")

In [13]:
# Entering "Data Scientist" in  “Skill,Designations,Companies” field
job_inp = driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
job_inp.send_keys("Data Scientist")

In [14]:
# Entering “Bangalore” in “enter the location” field
loc_inp = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
loc_inp.send_keys("Bangalore")

In [15]:
# Clicking Search Button
button =  driver.find_element_by_xpath("//div[@class='search-btn']/button[@class='btn']")
button.click()

In [16]:
# Fetching Job-title, Job-location, Companny Name details from the website.
job_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
location = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [17]:
# Getting Job Description URLS
desc_url = []
for i in range(10):
    desc_url.append(job_title[i].get_property('href'))

In [18]:
# Initialising a dictionary to store the data
d = {
    'Job_Title' : [],
    'Location' : [],
    'Company_Name' : [],
    'Job_Description' : []
}

In [19]:
# Adding the text to corresponding keys in the dictionary
for i in range(10):
    d['Job_Title'].append(job_title[i].text)
    d['Location'].append(location[i].text)
    d['Company_Name'].append(company[i].text)

In [20]:
# Accessing each url from the desc_url list and fetching the job description

for i in desc_url:
    try:
        driver.get(i)
        time.sleep(2)

        temp = driver.find_element_by_xpath("//h2[contains(text(),'Job description') or contains(text(),'Job Description')]//ancestor::section[1]").text
        d['Job_Description'].append(temp)

    except NoSuchElementException as e:
        d['Job_Description'].append(i)
        continue

In [21]:
# Converting to DataFrame
df = pd.DataFrame(d)
df

,Job_Title,Location,Company_Name,Job_Description
0,Data Scientist,Bangalore/Bengaluru,CronJ IT Technologies Private Limited,Job description\nResponsibilities and Duties\n...
1,Opportunity For Data Scientist Internship - Be...,Bangalore/Bengaluru,Corner Stone Solutions,Job description\nLocation - Bangalore / Bengal...
2,Data Scientist - Machine Learning,Bangalore/Bengaluru,AugmatrixGo,Job description\nRoles and Responsibilities\n\...
3,Data Scientist || Data Analyst || Data science,"Navi Mumbai, Bangalore/Bengaluru",Inspiration Manpower Consultancy Pvt. Ltd.,Job description\nJob description\nJob Summary ...
4,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,Job Description\nIntroduction\nIBM is continuo...
5,GAMMA Lead Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,Job description\n Practice Area Profile\nBCG ...
6,DBCG IND - GAMMA Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,Job description\n What Youll Do\n\nWe re lo...
7,Data Scientist/Senior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,Job description\n\nAbout Ganit Inc\n\nFounded ...
8,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,Job description\nRoles and Responsibilities\n\...
9,Global Medical Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,Job Description\nThis is an ideal role for an ...

### Q3: In this question you have to scrape data using the filters available on thewebpage:

### You have to use the location and salary filter.
### You have to scrape data for “Data Scientist” designation for first 10 job results.
### You have to scrape the job-title, job-location, company_name,
### experience_required.
### The location filter to be used is “Delhi/NCR”
### The salary filter to be used is “3-6” lakhs

In [22]:
# Fetching the website
driver.get("https://www.naukri.com/")

In [23]:
# Entering "Data Scientist" in  “Skill,Designations,Companies” field
job_inp = driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
job_inp.send_keys("Data Scientist")

In [24]:
# Clicking Search Button
button =  driver.find_element_by_xpath("//div[@class='search-btn']/button[@class='btn']")
button.click()

In [25]:
# Selecting "Delhi/NCR" in location filter
label = driver.find_element_by_xpath("//label[@for='chk-Delhi / NCR-cityTypeGid-']")
label.find_element_by_tag_name("i").click()

In [26]:
# Selecting "3-6 lakhs" in salary filter
label = driver.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']")
label.find_element_by_tag_name("i").click()

In [27]:
# Fetching Job-title, Job-location, Companny Name, Experience details from the website.
job_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
experience = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
location = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [28]:
# Initialising a dictionary to store the data
d = {
    'Job_Title' : [],
    'Location' : [],
    'Experience' : [],
    'Company_Name' : []
}

In [29]:
# Adding the text to corresponding keys in the dictionary
for i in range(10):
    d['Job_Title'].append(job_title[i].text)
    d['Location'].append(location[i].text)
    d['Experience'].append(experience[i].text)
    d['Company_Name'].append(company[i].text)

In [30]:
# Converting to DataFrame
df = pd.DataFrame(d)
df

,Job_Title,Location,Experience,Company_Name
0,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",5-8 Yrs,IBM India Pvt. Limited
1,Data Scientist/Data Analyst - Python/Machine L...,"Mumbai, Ghaziabad",5-10 Yrs,Change leaders
2,Females Required- Data Scientist- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",3-7 Yrs,Randstad
3,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",2-7 Yrs,FUTURES AND CAREERS
4,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs,FUTURES AND CAREERS
5,Data Scientist - Hadoop/BigQuery,Noida,3-6 Yrs,Jubna
6,Data Scientist - Python / Machine Learning / T...,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",3-8 Yrs,FUTURES AND CAREERS
7,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",2-7 Yrs,FUTURES AND CAREERS
8,Required- Data Scientist (NLP)-Axis Bank - 6 m...,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",4-9 Yrs,Axis Bank Limited
9,Data Scientist - Python / Machine Learning / T...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",3-8 Yrs,FUTURES AND CAREERS

### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [31]:
# Fetching the website
driver.get("https://www.glassdoor.co.in/index.htm")

In [32]:
# Signing In
try:
    sign_in = driver.find_element_by_xpath("//button[contains(text(),'Sign In')]")
    sign_in.click()
except NoSuchElementException:
    sign_in = driver.find_element_by_xpath("//a[contains(text(),'Sign In')]")
    sign_in.click()

In [33]:
# Using Google Sign In
google_signin_btn =  driver.find_element_by_xpath("//button[@class='google gd-btn ']")
google_signin_btn.click()

In [34]:
# Switching context to the pop up window
pop_up_win = driver.window_handles[1]
driver.switch_to_window(pop_up_win)

<ipython-input-34-dba657038327>:3: DeprecationWarning: use driver.switch_to.window instead
  driver.switch_to_window(pop_up_win)

In [35]:
# Entering the username and Cllcking the next button
username_field = driver.find_element_by_xpath("//input[@id='identifierId']")
username_field.send_keys('arjunprakash.t.2017.cse@rajalakshmi.edu.in')
next_btn = driver.find_element_by_xpath("//button[@class= 'VfPpkd-LgbsSe VfPpkd-LgbsSe-OWXEXe-k8QpJ VfPpkd-LgbsSe-OWXEXe-dgl2Hf nCP5yc AjY5Oe DuMIQc qIypjc TrZEUc lw1w4b']")
next_btn.click()

In [36]:
# Entering the username and Cllcking the next button
pwd_field = driver.find_element_by_xpath("//input[@name='password']")
pwd_field.send_keys('worldismine10')
next_btn = driver.find_element_by_xpath("//button[@class= 'VfPpkd-LgbsSe VfPpkd-LgbsSe-OWXEXe-k8QpJ VfPpkd-LgbsSe-OWXEXe-dgl2Hf nCP5yc AjY5Oe DuMIQc qIypjc TrZEUc lw1w4b']")
next_btn.click()

In [37]:
# Switching context to the original window
curr_win = driver.window_handles[0]
driver.switch_to_window(curr_win)

<ipython-input-37-e95b59c2c857>:3: DeprecationWarning: use driver.switch_to.window instead
  driver.switch_to_window(curr_win)

In [38]:
# Entering "Data Scientist" in  “Job Title, Keywords or Company” field
job_inp = driver.find_element_by_xpath("//input[@id='sc.keyword']")
job_inp.send_keys('Data Scientist')

In [39]:
# Entering “Noida” in “location” field
from selenium.webdriver.common.keys import Keys

loc_inp = driver.find_element_by_xpath("//input[@placeholder='Location']")
loc_inp.send_keys(Keys.CONTROL,"A",Keys.DELETE)
loc_inp.send_keys("Noida")

In [40]:
# Clicking Search Button
button =  driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
button.click()

In [41]:
# Closing pop-ups
try:
    driver.find_element_by_xpath(".//span[@alt='Close']").click()
except:
    print("--")

--

In [42]:
# Fetching Company name and No. of days ago when job was posted
company_name =  driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
post_age =  driver.find_elements_by_xpath("//div[@data-test='job-age']")

In [43]:
# Fetching details of each job to get ratings
list_ = driver.find_elements_by_xpath("//li[@class='react-job-listing css-wp148e eigr9kq3']")

In [44]:
# Initialising a dictionary to store the data
d = {
    'Company_Name' : [],
    'Post_Age' : [],
    'Rating' : []
}

In [45]:
# Adding the text to corresponding keys in the dictionary
for i in range(10):
    d['Post_Age'].append(post_age[i].text)
    d['Company_Name'].append(company_name[i].text)

In [46]:
# Adding first job's rating
import time
try:
    temp = driver.find_element_by_xpath("//span[@class='css-1m5m32b e1tk4kwz2']").text
    print(temp)
    d['Rating'].append(temp)
    time.sleep(2)
except:
    print("-----------")

3.8

In [47]:
# Adding the rating of the remaining 9 jobs
for i in list_[:9]:
    i.click()
    time.sleep(3)
    try:
        driver.find_element_by_xpath(".//span[@alt='Close']").click()
    except:
        print()
    finally:
        try:
            temp =i.find_element_by_xpath("//span[@class='css-1m5m32b e1tk4kwz2']").text
            time.sleep(3)
            print(temp)
            d['Rating'].append(temp)
        except:
            d['Rating'].append("NA")
            print("--------")

--------

4.4

--------

5.0

3.6

3.0

4.0

--------

3.8

In [48]:
# Converting to DataFrame
df = pd.DataFrame(d)
df

                   Company_Name Post_Age Rating
0                Biz2Credit Inc     30d+    3.8
1  Salasar New Age Technologies     30d+     NA
2                         Adobe      10d    4.4
3  Salasar New Age Technologies     30d+     NA
4                      Techlive     30d+    5.0
5                       CRMNEXT      16d    3.6
6                      Ohmyhome       8d    3.0
7                 Aedifico Tech     30d+    4.0
8               SearchUrCollege     30d+     NA
9                 Ernst & Young      24h    3.8

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [49]:
# Fetching the website
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [50]:
# Entering "Data Scientist" in  “Job Title or Company” field
job_inp = driver.find_element_by_xpath("//input[@id='KeywordSearch']")
job_inp.send_keys('Data Scientist')

In [51]:
# Entering “Noida” in “location” field
from selenium.webdriver.common.keys import Keys

loc_inp = driver.find_element_by_xpath("//input[@placeholder='Location']")
loc_inp.send_keys(Keys.CONTROL,"A",Keys.DELETE)
loc_inp.send_keys("Noida")

In [52]:
# Clicking Search Button
button =  driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
button.click()

In [53]:
# Fetching Company name and No. of days ago when job was posted
job_info =  driver.find_elements_by_xpath("//div[@data-test='job-info']")
avg_sal = driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
sal_range = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']")

In [54]:
# Initialising a dictionary to store the data
d = {
    'Company_Name' : [],
    'No_of_Salaries' : [],
    'Avg_Sal' : [],
    'Min_Sal' : [],
    'Max_Sal' : [],
}

In [55]:
# Adding the text to corresponding keys in the dictionary
for i in range(10):
    t = job_info[i].text.split('\n')
    d['Company_Name'].append(t[1])
    d['No_of_Salaries'].append(t[2].split()[0])
    d['Avg_Sal'].append(avg_sal[i].text.split('\n')[0])
    t = sal_range[i].text.split('\n')
    d['Min_Sal'].append(t[0])
    d['Max_Sal'].append(t[1])

In [56]:
# Converting to DataFrame
df = pd.DataFrame(d)
df

                Company_Name No_of_Salaries      Avg_Sal  Min_Sal   Max_Sal
0  Tata Consultancy Services             14   ₹ 5,97,967    ₹333K   ₹1,080K
1                  Accenture             14  ₹ 11,12,243    ₹560K   ₹2,147K
2                  Delhivery             14  ₹ 12,12,741    ₹436K  ₹11,274K
3                        IBM             13   ₹ 7,37,972    ₹569K   ₹2,648K
4         Ericsson-Worldwide             12   ₹ 7,15,984    ₹350K   ₹1,565K
5         UnitedHealth Group             10  ₹ 13,41,900  ₹1,037K   ₹1,500K
6         Valiance Solutions              9   ₹ 7,90,812    ₹487K   ₹1,421K
7                 Innovaccer              8  ₹ 11,81,047    ₹602K   ₹1,644K
8              ZS Associates              7   ₹ 9,89,924    ₹196K   ₹1,755K
9                EXL Service              7  ₹ 11,73,127    ₹558K   ₹1,500K

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
### 1. Brand
### 2. Product Description
### 3. Price
### 4. Discount %

In [57]:
# Fetching the website
driver.get("https://www.flipkart.com/")

In [58]:
# Closing pop-ups
try:
    driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()
except:
    print("--")

In [59]:
# Entering "Sunglasses" in  “search for products, brands and more” field
item_inp = driver.find_element_by_xpath("//input[@class='_3704LK']")
item_inp.send_keys('sunglasses')

In [60]:
# Clicking Search Button
button =  driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
button.click()

In [61]:
# Initialising a dictionary to store the data
d = {
    'Brand_Name' : [],
    'Product_Description' : [],
    'Price' : [],
    'Discount' : []
}

In [62]:
while True:
    # Fetching "Brand name", "Product Description", "Price" and "Discount"
    brand_name =  driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    prod_des =  driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price =  driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc =  driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    time.sleep(3)
    print('Fetch Complete')
    
    # Adding the text to corresponding keys in the dictionary
    d['Brand_Name'].extend(list(map(lambda x: x.text, brand_name)))
    d['Product_Description'].extend(list(map(lambda x: x.text, prod_des)))
    d['Price'].extend(list(map(lambda x: x.text, price)))
    d['Discount'].extend(list(map(lambda x: x.text, disc)))
    time.sleep(3)
    print('Data Added To Dictionary')
    print("Current Length : ", len(d['Brand_Name']))
    
    if(len(d['Brand_Name'])==100):
        break
        
    elif(len(d['Brand_Name'])>100):
        d['Brand_Name'] = d['Brand_Name'][:100]
        d['Product_Description'] = d['Product_Description'][:100]
        d['Price'] = d['Price'][:100]
        d['Discount'] = d['Discount'][:100]
        break
        
    else:
        next_btn = driver.find_element_by_xpath("//span[contains(text(),'Next')]")
        next_btn.click()
        time.sleep(3)
        print('Next Page')
        continue

Fetch Complete
Data Added To Dictionary
Current Length :  40
Next Page
Fetch Complete
Data Added To Dictionary
Current Length :  80
Next Page
Fetch Complete
Data Added To Dictionary
Current Length :  120

In [63]:
# Converting to DataFrame
df = pd.DataFrame(d)
df

,Brand_Name,Product_Description,Price,Discount
0,ROYAL SON,Mirrored Aviator Sunglasses (58),₹399,73% off
1,ROYAL SON,"Polarized, UV Protection Round Sunglasses (49)",₹664,66% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹225,85% off
...,...,...,...,...
95,NuVew,"UV Protection, Mirrored, Gradient Aviator Sung...",₹308,68% off
96,Fastrack,UV Protection Rectangular Sunglasses (56),₹679,15% off
97,Fastrack,UV Protection Wayfarer Sunglasses (54),₹666,25% off
98,Aislin,"UV Protection, Gradient Wayfarer Sunglasses (57)",₹683,68% off
99,ROYAL SON,Polarized Retro Square Sunglasses (58),₹854,57% off

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
### You have to Scrape
### 1. Rating
### 2. Review_summary
### 3. Full review
### You have to scrape this data for first 100 reviews.

In [64]:
# Fetching the website
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")

In [65]:
# Clicking All Reviews
all_reviews =  driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
all_reviews.click()

In [66]:
# Initialising a dictionary to store the data
d = {
    'Rating' : [],
    'Review_Summary' : [],
    'Full_Review' : [],
}

In [67]:
import time
while True:
    # Expanding reviews
    try:
        read_more =  driver.find_elements_by_xpath("//span[@class='_1BWGvX']")
        for i in read_more:
            i.click()
    except:
        print("No Expand req")
    
    # Fetching "Rating", "Review Summary", and "Review Summary"
    rating =  driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    rev_sum =  driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    rev =  driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    time.sleep(2)
    print('Fetch Complete')
    
    # Adding the text to corresponding keys in the dictionary
    d['Rating'].extend(list(map(lambda x: x.text, rating)))
    d['Review_Summary'].extend(list(map(lambda x: x.text, rev_sum)))
    d['Full_Review'].extend(list(map(lambda x: x.text, rev)))
    time.sleep(2)
    print('Data Added To Dictionary')
    print("Current Length : ", len(d['Rating']))
    
    if(len(d['Rating'])==100):
        break
        
    elif(len(d['Rating'])>100):
        d['Rating'] = d['Rating'][:100]
        d['Review_Summary'] = d['Review_Summary'][:100]
        d['Full_Review'] = d['Full_Review'][:100]
        break
        
    else:
        next_btn = driver.find_element_by_xpath("//span[contains(text(),'Next')]")
        next_btn.click()
        time.sleep(2)
        print('Next Page')
        continue

Fetch Complete
Data Added To Dictionary
Current Length :  10
Next Page
Fetch Complete
Data Added To Dictionary
Current Length :  20
Next Page
Fetch Complete
Data Added To Dictionary
Current Length :  29
Next Page
Fetch Complete
Data Added To Dictionary
Current Length :  39
Next Page
Fetch Complete
Data Added To Dictionary
Current Length :  49
Next Page
Fetch Complete
Data Added To Dictionary
Current Length :  59
Next Page
Fetch Complete
Data Added To Dictionary
Current Length :  69
Next Page
Fetch Complete
Data Added To Dictionary
Current Length :  79
Next Page
Fetch Complete
Data Added To Dictionary
Current Length :  89
Next Page
Fetch Complete
Data Added To Dictionary
Current Length :  99
Next Page
Fetch Complete
Data Added To Dictionary
Current Length :  109

In [68]:
# Converting to DataFrame
df = pd.DataFrame(d)
df

,Rating,Review_Summary,Full_Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
...,...,...,...
95,4,Awesome,So good look comfortable iPhone 11 I am so ver...
96,5,Good choice,I have my first iPhone\nI love it\nusing 15 da...
97,5,Worth every penny,I upgraded from one plus 6 to iPhone 11 and it...
98,5,Classy product,This is very second time I am using iphone I a...
99,5,Super!,I’d like to start by saying that the overall e...

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
### 1. Brand
### 2. Product Description
### 3. Price
### 4. Discount %

In [69]:
# Fetching the website
driver.get("https://www.flipkart.com/")

In [70]:
# Closing pop-ups
try:
    driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()
except:
    print("--")

--

In [71]:
# Entering "Sneakers" in  “search for products, brands and more” field
item_inp = driver.find_element_by_xpath("//input[@class='_3704LK']")
item_inp.send_keys('sneakers')

In [72]:
# Clicking Search Button
button =  driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
button.click()

In [73]:
# Initialising a dictionary to store the data
d = {
    'Brand_Name' : [],
    'Product_Description' : [],
    'Price' : [],
    'Discount' : []
}

In [74]:
while True:
    # Fetching "Brand name", "Product Description", "Price" and "Discount"
    brand_name =  driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    prod_des =  driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price =  driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc =  driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    time.sleep(3)
    print('Fetch Complete')
    
    # Adding the text to corresponding keys in the dictionary
    d['Brand_Name'].extend(list(map(lambda x: x.text, brand_name)))
    d['Product_Description'].extend(list(map(lambda x: x.text, prod_des)))
    d['Price'].extend(list(map(lambda x: x.text, price)))
    d['Discount'].extend(list(map(lambda x: x.text, disc)))
    time.sleep(3)
    print('Data Added To Dictionary')
    print("Current Length : ", len(d['Brand_Name']))
    
    if(len(d['Brand_Name'])==100):
        break
        
    elif(len(d['Brand_Name'])>100):
        d['Brand_Name'] = d['Brand_Name'][:100]
        d['Product_Description'] = d['Product_Description'][:100]
        d['Price'] = d['Price'][:100]
        d['Discount'] = d['Discount'][:100]
        break
        
    else:
        next_btn = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        next_btn.click()
        time.sleep(3)
        print('Next Page')
        print()
        continue

Fetch Complete
Data Added To Dictionary
Current Length :  40
Next Page

Fetch Complete
Data Added To Dictionary
Current Length :  80
Next Page

Fetch Complete
Data Added To Dictionary
Current Length :  120

In [75]:
# Converting to DataFrame
df = pd.DataFrame(d)
df

,Brand_Name,Product_Description,Price,Discount
0,ELISEO,Sneakers For Men,₹569,43% off
1,BERSACHE,"Combo pack of 2 casual, sneaker and loafer sho...",₹599,39% off
2,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹499,72% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹399,60% off
4,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
...,...,...,...,...
95,Chevit,Sneakers Sneakers For Men,₹322,88% off
96,"""trend""",516 Trendy Star Perfect Sneakers For Men,₹479,67% off
97,Magnolia,Colourblocked Trending Multicolor Ultralight c...,₹323,57% off
98,believe,Men's Stylish Casual Shoes Sneakers For Men,₹423,50% off
99,bluemaker,Rockstyle Trending Multicolor Ultralight canva...,₹499,60% off

### Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”. And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [96]:
# Fetching the website
driver.get("https://www.myntra.com/shoes")
time.sleep(3)

In [97]:
# Selecting "Black" in colou filter
price_chk_box = driver.find_element_by_xpath("//input[@value='Black']//following-sibling::div")
price_chk_box.click()
time.sleep(3)

In [98]:
# Selecting "Rs. 6657 to Rs. 13105" in price filter
price_chk_box = driver.find_element_by_xpath("//input[@value='6657.0 TO 13105.0']//following-sibling::div")
price_chk_box.click()
time.sleep(3)

In [99]:
# Initialising a dictionary to store the data
d = {
    'Brand_Name' : [],
    'Product_Description' : [],
    'Price' : [],
}

In [100]:
while True:
    # Fetching "Brand name", "Product Description", "Price" and "Discount"
    brand_name =  driver.find_elements_by_xpath("//h3[@class='product-brand']")
    prod_des =  driver.find_elements_by_xpath("//h4[@class='product-product']")
    price =  driver.find_elements_by_xpath("//div[@class='product-price']")
    time.sleep(3)
    print('Fetch Complete')
    
    # Adding the text to corresponding keys in the dictionary
    d['Brand_Name'].extend(list(map(lambda x: x.text, brand_name)))
    d['Product_Description'].extend(list(map(lambda x: x.text, prod_des)))
    d['Price'].extend(list(map(lambda x: x.text, price)))

    time.sleep(3)
    print('Data Added To Dictionary')
    print("Current Length : ", len(d['Brand_Name']))
    
    if(len(d['Brand_Name'])==100):
        break
        
    elif(len(d['Brand_Name'])>100):
        d['Brand_Name'] = d['Brand_Name'][:100]
        d['Product_Description'] = d['Product_Description'][:100]
        d['Price'] = d['Price'][:100]
        break
        
    else:
        next_btn = driver.find_element_by_xpath("//a[@rel='next']")
        next_btn.click()
        time.sleep(3)
        print('Next Page')
        print()
        continue

Fetch Complete
Data Added To Dictionary
Current Length :  50
Next Page

Fetch Complete
Data Added To Dictionary
Current Length :  100

In [101]:
# Converting to DataFrame
df = pd.DataFrame(d)
df

      Brand_Name             Product_Description                        Price
0           Nike      Men AIR ZOOM Running Shoes  Rs. 10796Rs. 13495(20% OFF)
1           Nike             Women Running Shoes   Rs. 7796Rs. 11995(35% OFF)
2           Nike   Men REACT MILER Running Shoes   Rs. 8796Rs. 10995(20% OFF)
3           Puma      Men Liberate Nitro Running                     Rs. 9999
4           Nike    Women AIR ZOOM Running Shoes   Rs. 7721Rs. 10295(25% OFF)
..           ...                             ...                          ...
95     Cole Haan                   Women Sandals   Rs. 7499Rs. 14999(50% OFF)
96          Geox      Men Leather Formal Oxfords   Rs. 9367Rs. 12490(25% OFF)
97          Geox      Men Leather Formal Oxfords   Rs. 7867Rs. 10490(25% OFF)
98          Geox     Men Leather Formal Derbyacs  Rs. 11242Rs. 14990(25% OFF)
99  UNDER ARMOUR  Charged RC Sportstyle Sneakers                     Rs. 8999

[100 rows x 3 columns]

### Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
### After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
### 1. title
### 2. Ratings
### 3. Price

In [86]:
# Fetching the website
driver.get("https://www.amazon.in")
time.sleep(3)

In [87]:
# Entering "Laptop" in  search field
item_inp = driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
item_inp.send_keys('Laptops')

In [88]:
# Clicking Search Button
search_btn =  driver.find_element_by_xpath("//span[@id='nav-search-submit-text']")
search_btn.click()

In [89]:
# Selecting "Intel Core i7" in CPU type filter
i7_lab = driver.find_element_by_xpath("//li[@aria-label='Intel Core i7']//following-sibling::div")
i7_lab.click()
time.sleep(3)

In [90]:
# Selecting "Intel Core i9" in CPU type filter
i9_lab = driver.find_element_by_xpath("//li[@aria-label='Intel Core i9']//following-sibling::div")
i9_lab.click()
time.sleep(3)

In [91]:
# Initialising a dictionary to store the data
d = {
    'Title' : [],
    'Ratings' : [],
    'Price' : [],
}

In [92]:
list_ = []
for i in range(10):
    xpath = "//div[@data-index='"+ str(i+1) + "']"
    ele = driver.find_element_by_xpath(xpath)
    list_.append(ele)
    d['Title'].append(ele.find_element_by_tag_name("h2").text)
d

{'Title': ['Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
  'ASUS TUF Gaming F15, 15.6" FHD 144Hz, Intel Core i7-10870H 10th Gen, GTX 1650 Ti GDDR6 4GB Graphics, Gaming Laptop (16GB RAM/1TB HDD + 256GB SSD/Windows 10/Fortress Gray/2.3 Kg), FX566LI-HN133T',
  'Apple MacBook Pro (16-inch, 16GB RAM, 512GB Storage, 2.6GHz 9th Gen Intel Core i7) - Space Grey',
  'ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (16GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Xᵉ Graphics/Pine Grey/1.17 kg), UX425EA-BM701TS',
  'Dell G3 3500 Gaming 15.6inch 120hz FHD Display Laptop (10th Gen i7-10750H / 8 GB / 512 SSD / GTX 1650 4GB / 1Yr Premium Warranty/ Win 10 + MS Office H&S 2019) D560250WIN9BE',
  'Apple MacBook Pro (16-inch, 16GB RAM, 1TB Storage, 2.3GHz 9th Gen Intel Core i9) - Space Grey',
  'HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inch Laptop (10th Gen Core i7-10510U/8GB/512GB SSD/Windows 10 Home/MS Office/Mineral Silver/1.58 kg), 14-dh1180tu',
  'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
  'HP Pavilion x360 (2021) 14" FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader, (DW1040TU)',
  'LifeDigital ZED AIR CX7 15.6 IPS FHD Screen Black Laptop (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10)'],
 'Ratings': [],
 'Price': []}

In [93]:
for i in range(10):
    try:
        ele = list_[i]
        price = ele.find_element_by_class_name('a-price-symbol').text + ele.find_element_by_class_name('a-price-whole').text
        d['Price'].append(price)
    except:
        d['Price'].append("NA")
        continue
d

{'Title': ['Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
  'ASUS TUF Gaming F15, 15.6" FHD 144Hz, Intel Core i7-10870H 10th Gen, GTX 1650 Ti GDDR6 4GB Graphics, Gaming Laptop (16GB RAM/1TB HDD + 256GB SSD/Windows 10/Fortress Gray/2.3 Kg), FX566LI-HN133T',
  'Apple MacBook Pro (16-inch, 16GB RAM, 512GB Storage, 2.6GHz 9th Gen Intel Core i7) - Space Grey',
  'ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (16GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Xᵉ Graphics/Pine Grey/1.17 kg), UX425EA-BM701TS',
  'Dell G3 3500 Gaming 15.6inch 120hz FHD Display Laptop (10th Gen i7-10750H / 8 GB / 512 SSD / GTX 1650 4GB / 1Yr Premium Warranty/ Win 10 + MS Office H&S 2019) D560250WIN9BE',
  'Apple MacBook Pro (16-inch, 16GB RAM, 1TB Storage, 2.3GHz 9th Gen Intel Core i9) - Space Grey',
  'HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inch Laptop (10th Gen Core i7-10510U/8GB/512GB SSD/Windows 10 Home/MS Office/Mineral Silver/1.58 kg), 14-dh1180tu',
  'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
  'HP Pavilion x360 (2021) 14" FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader, (DW1040TU)',
  'LifeDigital ZED AIR CX7 15.6 IPS FHD Screen Black Laptop (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10)'],
 'Ratings': [],
 'Price': ['₹58,999',
  '₹92,888',
  '₹1,85,990',
  '₹96,890',
  '₹77,990',
  '₹2,23,190',
  '₹76,990',
  '₹93,500',
  '₹77,993',
  '₹39,990']}

In [94]:
urls = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
url = []
for i in range(10):
    url.append(urls[i].get_attribute('href'))
for i in range(10):
    driver.get(url[i])
    try:
        rating = driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
        rating.click()
        d['Ratings'].append(driver.find_element_by_xpath("//span[@data-hook='rating-out-of-text']").text)
    except NoSuchElementException:
        d['Ratings'].append("NA")

In [95]:
# Converting to DataFrame
df = pd.DataFrame(d)
df

                                               Title       Ratings      Price
0  Mi Notebook Horizon Edition 14 Intel Core i7-1...            NA    ₹58,999
1  ASUS TUF Gaming F15, 15.6" FHD 144Hz, Intel Co...  4.3 out of 5    ₹92,888
2  Apple MacBook Pro (16-inch, 16GB RAM, 512GB St...  4.6 out of 5  ₹1,85,990
3  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...  4.4 out of 5    ₹96,890
4  Dell G3 3500 Gaming 15.6inch 120hz FHD Display...  4.4 out of 5    ₹77,990
5  Apple MacBook Pro (16-inch, 16GB RAM, 1TB Stor...    4 out of 5  ₹2,23,190
6  HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...  4.4 out of 5    ₹76,990
7  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...  3.9 out of 5    ₹93,500
8  HP Pavilion x360 (2021) 14" FHD Touchscreen La...  4.6 out of 5    ₹77,993
9  LifeDigital ZED AIR CX7 15.6 IPS FHD Screen Bl...  3.2 out of 5    ₹39,990

In [102]:
driver.close()